*,
::before,
::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #eee;
}

#wrapper {
    width: 1000px;
    padding-top: 124px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 256px;
}

.selections {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.selections button {
    border: 2px solid black;
    border-radius: 4px;
    font-size: 86px;
    padding: 24px;
    cursor: pointer;
    background-color: #eee;
}

.selections#player button:hover {
    background-color: white !important;
}

.selections#computer button {
    cursor: auto;
}

#result {
    font-size: 64px;
    margin-top: 96px;
    text-align: center;
}

#restart {
    visibility: hidden;
    font-size: 24px;
    margin-top: 24px;
    align-self: center;
    padding: 12px 24px;
    cursor: pointer;
}